*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    background: none;
    outline: none;
    font-family: sans-serif;
    
}

:root {
    --primary: #0069D9;
    --secondary: #5A6268;
    --green: #218838;
    --red: #C82333;
    --yellow: #E0A800;
    --blue: #138496;
    --dark-blue: #0F6D94;
    --gray: #B9B9B9;
    --light: #E2E6EA;
    --dark: #23272B;
    --white: #FFF;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.16rem;
}

h4 {
    font-size: 1rem;
}

h5, p, span, a {
    font-size: .85rem;
}

h6 {
    font-size: .7rem;
}

a:hover {
    color: var(--primary);
}

table {
    width: 100%;
    margin: 20px 0;
    padding: 10px 20px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

th, td {
    margin: 8px 16px;
    padding: 4px 8px;
    vertical-align: middle;
    border-top: 1px solid var(--dark);
}

td .action {
    display: flex;
    justify-content: center;
    gap: 10px;  
}

.toggle-menu .menu,
.toggle-button {
    display: none;
}

.header {
    display: flex;
    height: 8vh;
    padding: 2.5vw 6vw;
    align-items: center;
    gap: 10px;
    background: var(--light);
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.header .logo {
    width: 30vw;
}

.header .links {
    display: flex;
    width: 40vw;
    justify-content: center;
}

.header .links * {
    font-size: 1rem;
}

.header .info {
    width: 30vw;
    text-align: right;
}

.header  * {
    color: #000;
}

.header .links a {
    position: relative;
    padding: 4px 10px;
}

.header .links > a:not(:first-child)::before {
    position: absolute;
    content: '';
    height: 25px;
    width: 2px;
    top: 2px;
    left: -1px;
    background: rgba(0,0,0,0.2);
}

.footer section {
    display: flex;
    background: var(--dark);
}

.footer section * {
    color: #FFF;
}

.footer section a:hover {
    color: var(--primary);
}

.footer section > *,
.footer section .links {
    display: flex;
    flex-direction: column;
    gap: .5vw; 
}

.footer section > * {
    padding: 3.5vw 3vw 3.5vw 3vw;
}

.footer section > *:first-child {
    width: 31vw; 
}

.footer section > *:not(:first-child) {
    width: 23vw;
}

.footer section > * > *:first-child  {
    margin: 1vw 0;
}

.footer .copyhigt {
    width: 100vw;
    padding: 8px 3vw;
    background: var(--gray);
}

.display-none {
    display: none !important;
}

.center,
.center-vertical,
.center-horizontal {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.center-horizontal {
    justify-content: center;
}

.center-vertical {
    align-items: center;
}

.text-center {
    text-align: center;
}

.full-section {
    width: 100%;
}

.wide-section {
    width: 80%;
}

.medium-section{
    width: 60%;
}

.small-section {
    width: 40%;
}

.content-section {
    padding: 4vw 0;
}

.content-section .title {
    margin-bottom: 30px 0;
}

.bg-light {
    background: var(--light);
}

.form-section {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: var(--gray);
}

.form {
    width: 40%;
    margin: 20px 0;
    padding: 100px 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.form * {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

.form-group > label {
    margin-bottom: 5px;
    align-self: flex-start;
    font-size: .9rem;
}

.form-control {
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.form-control:focus {
    border: none;
    border: 2px solid var(--dark);    
}

.form-check {
    margin-top: 30px;
    gap: 5px;
}

.btn {
    padding: 5px 10px;
    border-radius: 2px;
    font-size: .9rem;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    border: 1px solid var(--primary);
    background: var(--primary);
    color: #FFF;
}

.btn-secondary {
    border: 1px solid var(--secondary);
    background: var(--secondary);
    color: #FFF;
}

.btn-success {
    border: 1px solid var(--green);
    background: var(--green);
    color: #FFF;
}

.btn-danger {
    border: 1px solid var(--red);
    background: var(--red);
    color: #FFF;
}

.btn-warning {
    border: 1px solid var(--yellow);
    background: var(--yellow);
    color: #FFF;
}

.btn-info {
    border: 1px solid var(--blue);
    background: var(--blue);
    color: #FFF;
}

.btn-light {
    border: 1px solid var(--light);
    background: var(--light);
}

.btn-dark {
    border: 1px solid var(--dark);
    background: var(--dark);
    color: #FFF;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-success:hover,
.btn-danger:hover,
.btn-warning:hover,
.btn-info:hover,
.btn-light:hover,
.btn-dark:hover {
    background: rgba(0,0,0,0);
}

.btn-primary:hover {
    color: var(--primary);
}

.btn-secondary:hover {
    color: var(--secondary);
}

.btn-success:hover {
    color: var(--green);
}

.btn-danger:hover {
    color: var(--red);
}

.btn-warning:hover {
    color: var(--yellow);
}

.btn-info:hover {
    color: var(--blue);
}

.btn-light:hover {
    color: var(--light);
}

.btn-dark:hover {
    color: var(--dark);
}

.btn-link {
    color: var(--blue);
}

.btn-link:hover {
    text-decoration: underline;
}

.home-section {
    display: flex;
    height: 70vh;
    padding: 0 60px;
    justify-content: space-between;
    overflow: visible;
    align-items: center;
    background: var(--light);
}

.store {
    margin-left: 8vw;
}

.store .title {
    position: relative;
    width: 3.5vw;
    height: 15vw;
    border-radius: 15px;
    border: .8vw solid;
}

.store .title::before,
.store .title::after {
    position: absolute; 
    top: -3vw; 
    font-size: 12vw;
}

.store .title::before {
    content: "B";
    right: 3vw;
}

.store .title::after {
    content: "ok";
    left: 3vw;
}

.store .subtitle::before,
.store .subtitle::after {
    position: absolute;
    top: 8vw;
    font-size: 4.5vw;
    font-weight: bold;
    text-transform: uppercase;
}

.store .subtitle::before {
    content: "st";
    right: 4vw;
}

.store .subtitle::after {
    content: "re\00a0Tech";
    left: 3.5vw;
}

.books {
    position: relative;
    width: 26.5vw;
    height: 35vw;
    align-self: flex-end;
}

.bookA,
.bookB,
.bookC,
.bookD {
    display: flex;
    position: absolute;
    bottom: 10px;
    align-items: center;
    justify-content: center;
    border: .3vw solid #000;
    box-shadow: 6px 10px 5px 2px rgba(0, 0, 0, 0.3);
}

.bookA {
    width: 7vw;
    height: 20vw;
    left: 0vw;
    background: var(--red);
    border-radius: 10px;
    transform: rotate(4deg);
} 

.bookB {
    width: 4vw;
    height: 30vw;
    left: 7.9vw;
    border-radius: 5px;
    background: var(--green);
}

.bookC {
    width: 7vw;
    height: 28vw;
    left: 12.1vw;
    border-radius: 20px;
    background: var(--secondary);
}

.bookD {
    width: 7vw;
    height: 30vw;
    left: 19.3vw;
    border-radius: 10px;
    background: var(--primary);
}

.bookA .title,
.bookB .title,
.bookC .title,
.bookD .title {
    font-size: 1.2rem;
    color: #000;
    writing-mode: sideways-lr;
    text-orientation: upright;
}

.bookA .down-line,
.bookA .down-line::after,
.bookA .down-line::before, 
.bookB .top-line,
.bookB .down-line,
.bookB .top-line::after,
.bookB .down-line::before,
.bookD .top-line,
.bookD .down-line,
.bookD .top-line::after,
.bookD .down-line::before {
    position: absolute;
    width: 100%;
    height: .3vw;
    background: #000;
}

.bookA .down-line {
    bottom: 4vh;
}

.bookB .top-line {
    top: 6vh;
}

.bookB .down-line {
    bottom: 6vh;
}

.bookB .top-line::after {
    content: "";
}

.bookB .top-circle,
.bookB .down-circle {
    position: absolute;
    border-radius: 100%;
    width: 1.9vh;
    height: 1.8vh;
    background: #000;
}

.bookA .down-line::after,
.bookD .top-line::after {
    content: "";
    top: 2vh;
}

.bookA .down-line::before,
.bookD .down-line::before {
    content: "";
    bottom: 2vh;
}

.bookB .top-circle,
.bookD .top-line {
    top: 2vh;
}

.bookB .down-circle,
.bookD .down-line {
    bottom: 2vh;
}

@media screen and (max-width: 600px) { 
    .toggle-menu .menu {
        display: block;
        position: absolute;
        top: 2vh;
        right: 6vw;
        width: 5vh;
        height: 4.5vh;
        border-radius: 8px;
        background: #000;
    }
    
    .toggle-menu .icon {
        position: absolute;
        top: 2.15vh;
        left: 1.3vh;
        width: 2.5vh;
        height: .2vh;
        background: #FFF;
        transition: 0.5s ease-in-out;
    }
      
    .toggle-menu .icon:before,
    .toggle-menu .icon:after {
        position: absolute;
        content: '';
        width: 2.5vh;
        height: .2vh;
        background: #FFF;
        transition: 0.5s ease-in-out;
    }
      
    .toggle-menu .icon:before {
        top: -6px;
    }
      
    .toggle-menu .icon:after {
        bottom: -6px;
    }
      
    .toggle-button:checked ~ .toggle-menu .icon {
        transform: rotate(45deg);
    }
      
    .toggle-button:checked ~ .toggle-menu .icon:before {
        transform: rotate(90deg);
        top: 0;
    }
      
    .toggle-button:checked ~ .toggle-menu .icon:after {
        transform: rotate(90deg);
        bottom: 0;
    }
    
    .toggle-button:checked ~ .toggle-menu .links {
        display: block;
        position: absolute;
        width: 100%;
        top: 8vh;
        left: 0;
        background: var(--light);
        border-bottom: 2px solid rgba(0,0,0,0.1);
    }

    .toggle-button:checked ~ .toggle-menu .links * {
        display: block;
        
    }

    .header { 
        justify-content: space-between;
    }

    .header .links {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    th, 
    td,
    td .action *{ 
        font-size: .65rem;
    }

    td .action { 
        flex-wrap: wrap;
    }

    .footer section {
        flex-direction: column;
    }

    .footer section > * {
        width: 100vw !important;
        align-items: center;
        text-align: center;
    }

    .footer section > div > *:first-child {
        font-size: .9rem;
    }

    .footer section > div > *:not(:last-child, :first-child),
    .footer .copyhigt * {
        font-size: .6rem;
    }

    .footer section > div > *:last-child,
    .footer section > div > *:not(:first-child) * {
        font-size: .5rem;
    }

    .home-section {
        height: 50vh;
    }

    .form { 
        width: 70%;
    }


    .books {
        align-self: center;
    }

    .bookA .down-line {
        bottom: 1vh;
    }

    .bookB .top-circle,
    .bookB .down-circle {
        width: .8vh;
        height: .8vh;
    }

    .bookB .top-line {
        top: 2vh;
    }
    
    .bookB .down-line {
        bottom: 2vh;
    }

    .bookA .down-line::after,
    .bookD .top-line::after {
        top: .6vh;
    }

    .bookA .down-line::before,
    .bookD .down-line::before {
        bottom: .6vh;
    }

    .bookB .top-circle,
    .bookD .top-line {
        top: .6vh;
    }

    .bookB .down-circle,
    .bookD .down-line {
        bottom: .6vh;
    }

    .bookA .title,
    .bookB .title,
    .bookC .title,
    .bookD .title {
        font-size: .4rem;
    }

}




