<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    {% block head_page %}
    {% endblock %}
</head>
<body class="body-main">
    <!--  -->
    <header class="container-menu">
        <a href="/" title="Home">Home</a>
        <a href="/list_books" title="List Books">List Books</a>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>